extends layout

block contents
  // .not-found start
  .not-found
    .container
      i.fas.fa-exclamation
      h1 Üzgünüm, aradığın şeyi bulamadım.
      p
        | Elimden gelen her şeyi yaptım ama yok olmadı. Eğer burada olması gerektiğinden eminsen benimle iletişime
        | geçebilirsin.
  // .not-found finish
